connect
.col-md-12.formulaire{
    margin-top:5%;
}

.form-horizontal{
    text-align: center
}

.form-subscribe{
    background: #fff;
    background: rgba(255,255,255,0.9);
    border-radius: 2em;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url(../image/fond-site.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.titre_accueil{
    font-size: 5vw !important;
}

.titreLogin{
    font-size: 3vw !important;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 0px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.box_valid {
    color: #67e54b;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.container{
    width: auto;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 20px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.15em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
.img-news{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.news-title{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: white !important;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    bottom: 0%; 
    right: 0%;
    background: rgba(0,0,0,0.5);
    width: 100%;
}

.headTitle{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    color: #787575;
}

.dateArticle{
    text-align: center;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    font-size: 0.9em;
}

.contenuArticle{
    text-align: center;
    font-size: 1.2em;
    word-wrap: break-word;
}

.carousel-title{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    color: #787575;
}

.lien-popup span{
    text-decoration : none;

}

.nomVisite{
    font-weight: bold !important;
}

.visiteContour{
    border: 1px solid black;
}

.takeVisite{
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.takeVisite:hover{
    text-decoration: none !important;
}

.place{
    padding-left: 0% !important;
    font-size: 1em;
}
@media screen and (min-width:1200px) {
    .article-image{
        height: 300px;
        object-fit: cover;
    }
    #mosaique-image{
        width: 400px;
        height: 300px;
        object-fit: cover;   
        position : relative;
    }
    .filtreTabagnon{
    z-index:1000;
    position:absolute;
    bottom:0;
    right:0;
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 4em;
    color:rgba(210,210,210,0.6);
}
}
@media screen and (max-width:1200px) {
    .article-image{
        height: 180px;
        object-fit: cover;
    }
    #mosaique-image{
        width: 240px;
        height: 180px;
        object-fit: cover;
    }
    .filtreTabagnon{
    z-index:1000;
    position:absolute;
    bottom:0;
    right:0; 
    font-family: Gabriola, "Gentium Basic", Georgia;
    font-size: 4em;
    color:rgba(210,210,210,0.6);
}
}

.img-carousel{
    object-fit: cover !important;
    max-height : 500px;
}

.carousel-admin{
    margin-bottom: 4%;

}

.carousel-admin a{
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    color: #544B4B;
}

.carousel-admin .glyphicon{
    margin-top : 1%;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.carousel-admin .glyphicon-remove{
    color: red !important;
}

.liste-news img{
    width : 100%;
    height: 200px;
    object-fit: cover;
    margin-top : 50px;
}
.reservation{
    margin-top: 2.5%; 
}

.img-presentation{
    object-fit: cover !important;
    max-width : 30%;
    margin-left : 7%;
    margin-top : 2%;
    margin-bottom : 2%;
    float:left;
}

.nomGuideVisite .ct{
    font-style: italic;
}

.verifMdp{
    margin-right: 48%;
    margin-top: 0.8%;
    cursor: pointer;
}

.imageProfil{
    margin-top: 5%;
}

.connec{
    cursor: pointer;
}

.nomArticle{
    margin-top: 6%;
}

.sub{
    margin-top: 2.5%; 
}

.cliquezArticle{
    font-style: italic;
    font-size: 1em;
}

.descArticle{
    font-family: 'Open Sans';
}

.inputRecherche{
    margin-left: -2.7%;
}

body.modal-open {
    overflow:inherit;
    padding-right:inherit !important; 
}

html{
    position:relative; 
    min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
    margin:0;
    padding:0;
}
.pageContentWrapper{
    margin-bottom:100px;/* Height of footer*/
} 
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
body:after {
    content: '';
    display: block;
    height: 100px;
}
footer {
    position: absolute;
    width: 100%;
}
.sous-menu {
    text-decoration: none;
}

.titre-admin{
    margin: 0;
    font-size: 2.3em;
    text-transform: capitalize;
}
.option-admin a{
    font-size: 1.5em;
    text-decoration : none;
}

ul .connect{
    margin-right: 12%;
}

@media screen and (min-width:1200px) {
    .datepicker{
        width : 30% !important;
        margin-top : 1%;
    }
    .timepicker{
        width : 30% !important;
    }
}
@media screen and (max-width:1200px) {
    .datepicker{
        width : 60% !important;
        margin-top : 1%;
    }

    .timepicker{
        width : 60% !important;
    }
}

.imgArticle{
    box-shadow: 5px 5px 0px #aaa; 
}

.btn_mosaique{
    margin-left: 5% !important;
    margin-top: 0.4%;
}

.formAjoutImage{
    cursor: pointer;
}

.nomCom{
    margin-top: -0.5% !important;
}

.titre{
    text-decoration: underline;
}
table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

.mceToolbar td {
    display:table-row;
    float: left;
}
.mceToolbar td:nth-of-type(11){
    clear: left;
}

@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
        width: 600px !important;
    }

    .mceToolbar td {
        display:table-cell;
        float: none;
    }
    mceToolbar td:nth-of-type(11){
        clear: none;
    }
}

.green{
    color : #01DF01; 
}
.red{
    color : #DF0101; 
}
.yellow{
    color : #F7FE2E; 
}

.btnModif{
    cursor: pointer;
}

.msgErrorPlace{
    color: red;
}


.footerCredits p{
    margin-top : 50px;
    margin-bottom : 10px;
    padding : 5px !important;
}
.footerContact p{
    margin-top : 5px;
    margin-bottom : 10px;
    padding : 5px !important;
}
#footerOption p{
    font-size : 1.2em;
}

#footerContactez{
    font-size : 1.4em;   
.avis{
    cursor: pointer;
}

